In [2]:
import sqlite3
import pandas as pd

# Create your connection.
# DL : https://drive.google.com/file/d/10CtW_gZtNHQbQQ2A7QRiXXTh4obXHOQk/view?usp=sharing
con = sqlite3.connect('batch_1.db')
cursorObj = con.cursor()
cursorObj.execute('SELECT name from sqlite_master where type= "table"')
print(cursorObj.fetchall())

[('aeroports',), ('compagnies',), ('vols',)]

In [21]:
aeroports = pd.read_sql_query("SELECT * FROM aeroports", con)
aeroports.to_csv("aeroports.csv", index=False)

In [22]:
compagnies = pd.read_sql_query("SELECT * FROM compagnies", con)
compagnies.to_csv("compagnies.csv", index=False)

In [3]:
vols = pd.read_sql_query("SELECT * FROM vols", con)
vols.to_csv("vols.csv", index=False)